@media (min-width: 768px) {
  :root {
    --size-11: 1.43229166666667vw;
    --size-26: 3.38541666666667vw;
    --size-39: 5.078125vw;
    --size-156: 20.3125vw;
    --size-164: 21.3541666666667vw;
    --size-303: 39.453125vw;
    --size-794: 103.385416666667vw;
  }

  .top-section {
    padding: 0 155px;
  }

  .top-section-img-container {
    margin-top: 64px;
    height: var(--size-303);
  }

  .top-img-mobile {
    top: 140px;
    width: var(--size-794);
    height: var(--size-303);
    left: calc(-1 * var(--size-26));
  }

  .top-text-container h1 {
    margin-top: 72px;
    max-width: 445px;
  }

  .top-text-container p {
    max-width: 540px;
  }

  .btn-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .btn-purple {
    margin-top: 0px;
  }

  .middle-section {
    margin-top: 164px;
    padding: 0 var(--size-39);
  }

  .middle-section-img-container {
    gap: var(--size-11);
    margin-top: 67px;
  }

  /* This will be responsive */

  .middle-section-img-container img {
    width: var(--size-164);
    height: var(--size-156);
    max-width: 255px;
    max-height: 242px;
  }

  .middle-section h5 {
    margin-top: 48px;
  }

  .middle-section h1 {
    font-size: 40px;
    line-height: 44px;
    margin-top: 16px;
    width: 445px;
  }

  .middle-section-paragraph {
    width: 573px;
  }

  .bottom-section {
    margin-top: 192px;
    padding: 0 100px;
  }

  picture {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
  }

  picture img {
    width: 100%;
    height: 100%;
    /*height: var(--size-422);*/
    left: 0;
    object-fit: cover;
    object-position: center top;
    display: block;
  }

  .bottom-section h1 {
    font-size: 40px;
    line-height: 44px;
    margin-top: 36px;
    width: 457px;
  }

  .bottom-section-paragraph {
    margin-top: 32px;
    width: 537px;
  }

  .bottom-section .btn-purple {
    margin-top: 40px;
    margin-bottom: 105px;
  }
}
